section.more.section.section--bigger
  .more__bg
    img.more__bg-cloud(loading="lazy" decoding="async" src="./images/cloud-footer-top.png", alt="Облако")
  .more__container.container 
    h2.section__title.title.title--section
      | Можем 
      span.blue больше
      | !
    p.more__description.section__description.text
      | Мы&nbsp;можем быть всегда рядом. Откройте доступ к&nbsp;безопасной,
      | полезной и&nbsp;безлимитной воде.
    .more__content.swiper
      .more__list.swiper-wrapper
        .more__item.swiper-slide 
          a.more__link(href="https://www.ekodar.ru/filter/" target="_blank")
            .more__picture 
              img.more__image(loading="lazy" decoding="async" src="./images/more-ww-25.png", alt="Фонтанчик")
            h4.more__name.title.title--item
              .link Питьевой фонтанчик WW&nbsp;25
        .more__item.swiper-slide 
          a.more__link(href="https://www.ekodar.ru/voda-v-ofis/oborudovanie/horeca/" target="_blank")
            .more__picture 
              img.more__image(loading="lazy" decoding="async" src="./images/more-ww-12.png", alt="Фонтанчик")
            h4.more__name.title.title--item
              .link Питьевой фонтанчик WW&nbsp;12
        .more__item.swiper-slide 
          a.more__link(href="https://www.ekodar.ru/kvartiry/" target="_blank")
            .more__picture 
              img.more__image(loading="lazy" decoding="async" src="./images/more-ww-23.png", alt="Фонтанчик")
            h4.more__name.title.title--item
              .link Питьевой фонтанчик WW&nbsp;23
      .swiper-button-next
      .swiper-button-prev
