section.hero.section
  img.hero__sky(loading="lazy" decoding="async" src="./images/bg-hero-sky.png", alt="Небо")
  .hero__content
    img.hero__cloud-wide.--first(loading="lazy" decoding="async" src="./images/bg-hero-cloud.png", alt="Облако")
    img.hero__cloud-wide(loading="lazy" decoding="async" src="./images/bg-hero-cloud.png", alt="Облако")
    .hero__container.container
      .hero__info
        h1.hero__title.title.title--section
          | Спасибо, что пользуетесь 
          span.blue питьевым фонтанчиком 
          span.title--minor от компании Фонтан Плюс
        a.hero__button.button(href="#call" data-modal) Заказать звонок
  img.hero__bg(data-scroll-parallax-hero-1, src="./images/bg-hero-fontan.jpg", alt="Счастливые дети" loading="lazy" decoding="async")
  img.hero__fontan(data-scroll-parallax-hero-2, src="./images/hero-fontan.png", alt="Фонтанчики" loading="lazy" decoding="async")
  img.hero__cloud(loading="lazy" decoding="async" src="./images/bg-hero-cloud.png", alt="Облако")
  