section.ecology.section.section--bigger
  .ecology__bg.desktop
    img.ecology__bg-image(decoding="async" src="./images/bg-ecology.jpg", alt="Горы с озером")
    img.ecology__bg-cloud(decoding="async" src="./images/cloud-ecology-bottom.png", alt="Облако")
  .ecology__container.container
    .ecology__title
      h2.section__title.title.title--section
        span.blue Экологические 
        | решения:
    .ecology__content.desktop
      ul.ecology__list 
        li.ecology__item 
          h4.ecology__item-name.title 
            | Снижение выбросов
            | выхлопных газов и&nbsp;уменьшение
            | транспорта на&nbsp;дорогах
          .ecology__item-picture
            img.ecology__item-image(loading="lazy" decoding="async" src="./images/ecology-logo-big.png", alt="Go green")
          p.ecology__item-text.text
            | поскольку отпадает необходимость
            | в&nbsp;доставке бутылей.
        li.ecology__item.--green
          h4.ecology__item-name.title Энергосбережение
          .ecology__item-picture
            img.ecology__item-image(loading="lazy" decoding="async" src="./images/ecology-05.png", alt="Энергосбережение")
          p.ecology__item-text.text
            | Питьевые фонтанчики работают без подключение к&nbsp;электричетву
  .ecology__mobile.mobile
    img.ecology__mobile-cloud(decoding="async" src="./images/cloud-ecology-bottom.png", alt="Облако")
    img.ecology__mobile-cloud(decoding="async" src="./images/cloud-ecology-bottom.png", alt="Облако")
    .swiper 
      .swiper-wrapper 
        .swiper-slide
          .ecology__mobile-item 
            h4.ecology__item-name.title 
              | Снижение выбросов
              | выхлопных газов и&nbsp;уменьшение
              | транспорта на&nbsp;дорогах
            .ecology__item-picture
              img.ecology__item-image(loading="lazy" decoding="async" src="./images/ecology-logo-big.png", alt="Go green")
            p.ecology__item-text.text
              | поскольку отпадает необходимость
              | в&nbsp;доставке бутылей.
        .swiper-slide
          .ecology__mobile-item.--blue
            h4.ecology__item-name.title Энергосбережение
            .ecology__item-picture
              img.ecology__item-image(loading="lazy" decoding="async" src="./images/ecology-05.png", alt="Энергосбережение")
            p.ecology__item-text.text
              | Питьевые фонтанчики работают без подключение к&nbsp;электричетву
      .swiper-button-prev
      .swiper-button-next
